a:link{
  text-decoration: none!important;
}

.grid>div{
  grid-row: var(--r);
  grid-column: var(--c);
}



a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: transparent;
  z-index: 1000;
}

.navbar-logo h2 {
  color: white;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.login-btn {
  background-color: #fff;
  border: none;
  color: #000;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: #ddd;
}

a:hover {
  text-decoration: underline;
}


.product-card {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover .textBox {
  opacity: 1;
}

.product-card:hover .product-img {
  filter: blur(5px);
  height: 65%;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
